<body background="https://files.slack.com/files-pri/T03ALA7H4-FAJL854R4/906783_10151315767187186_404644056_o.jpg">
  <div style='text-align: center; color: maroon; font-size: 35px; font-family: cursive'>
    <h3><%= @game.other_player.name %> has attacked <%= @game.current_player.name %>!</h3>
    <h1 style='color: red'>Another one bites the crust!</h1>
  </div>

  <form style='text-align:center; margin-top:40px'; action='/play' method='get'>
    <button type='submit'>KEEP FIGHTING!</button>
  </form>
  <img style="height: 250px; "src="https://files.slack.com/files-pri/T03ALA7H4-FAHPK61KL/img_0819.jpg">
  <h2 style="font-family: cursive; color: white">You foccacia points!!!</h2>
</body>
