<div style='text-align: center; color: maroon; font-size: 35px; font-family: cursive'>
  <h2>Alastair <%= @player_1_name %> attacked Alastair <%= @player_2_name %>...</h2>

  <h1 style='color: red'>Another one bites the crust!</h1>

  <img style='height: 400px' src="http://9buz.com/content/uploads/images/October2014/1964894_10152509147373208_7425655208123780814_n.jpg">
</div>

<form action='/play' method='get'>
  <button type='submit'>KEEP FIGHTING!</button>
</form>
