<body background="https://wallpapercave.com/wp/kJrnUxI.jpg">
  <h1 style='text-align: center; color: darkcyan; font-size: 60px; font-family: cursive'>BATTLE OF THE ALASTAIRS</h1>

  <h2 style='text-align: center; color: darkcyan; font-size: 40px; font-family: cursive'>Battling to the death for the last sourdough!</h1>
  <h2 style='text-align: center; color: darkSlateGrey; font-size: 35px; font-family: cursive'>Upper crust sign in!</h2>
  <form style='text-align: center; color: navy; margin-top: 40px; font-family: cursive' action="/names" method="post">

    <label for="player_1_name">
      <strong style="size: 20px">ALASTAIR THE FIRST</strong>
      <input type="text" name="player_1_name">
    </label>

    <label for="player_2_name">
      <strong style="size: 20px">ALASTAIR THE SECOND</strong>
      <input type="text" name="player_2_name">
    </label>

    <input style='color: purple; font-family: cursive' type="submit" value="Enter game">

  </form>

  <div style='text-align: center; margin-top: 70px'>
    <img style='height: 500px' src='https://media.tenor.com/images/caeb341677a8af3cafb9661c95feb70c/tenor.gif'>
  </div>
</body>
