<h1>BATTLE OF THE UNICORNS</h1>
  <h2>Unicorn sign in!</h2>
    <form action="/names" method="post">
      <label for="player_1_name">
        UNICORN 1
        <input type="text" name="player_1_name">
      </label>
      <label for="player_2_name">
        UNICORN 2
        <input type="text" name="player_2_name">
      </label>
      <input type="submit" value="Enter game">
    </form>
