<h1 style='text-align: center; color: purple; font-size: 60px'>BATTLE OF THE UNICORNS</h1>

<h2 style='text-align: center; color: skyblue; font-size: 35px'>Unicorn sign in!</h2>
<form style='text-align: center; color: pink; margin-top: 40px' action="/names" method="post">

  <label for="player_1_name">
    <strong>UNICORN 1</strong>
    <input type="text" name="player_1_name">
  </label>

  <label for="player_2_name">
    <strong>UNICORN 2</strong>
    <input type="text" name="player_2_name">
  </label>

  <input style='color: purple' type="submit" value="Enter game">
  
</form>

<div style='text-align: center; margin-top: 70px'>
  <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6Qk9h8FsOgV5UgSKX0suZmCzm_AZfnpa-Mg3S5Jt6GHo8CJmxOQ'>
</div>
