<div style='text-align: center; color: purple; font-size: 65px'>
  <h1>Unicorn <%= @player_1_name %> vs. Unicorn <%= @player_2_name %></h1>
  <img src="https://i.pinimg.com/originals/49/a8/a1/49a8a12e7514b82e94e45c3f9a2ffe7f.jpg">
</div>
