<body background="https://futurich.files.wordpress.com/2015/12/breadwinner.gif?w=940">
  <h1 style="font-size: 200px; color: white; text-shadow: -2px 0 orange, 0 2px orange, 2px 0 orange, 0 -2px orange"><%= @game.other_player.name %> has won!</h1>
</body>
